<div id="contenedor" class="container p-4" style="margin-top: 10rem;">
    {{>navbar}}
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
            <div class="card text-center p-4 col-lg-7" style="">
                <img src="images/no-entry.png" class="" style=" width: 30%; height: auto; overflow:hidden; display:block; margin:auto;">
                <h2 class="font-weight-bolder mt-4">You don't have access!</h1>
                <h6 class="font-weight-medium">Please register or log in to access the functions.</h3>
                <a href="/" class="btn btn-secondary mt-4" style="width: 50%; display:block; margin:auto;">Back to home</a>
            </div>
        </div>
    </div>
</div>
{{>scripts}}