<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
	{{>navbar}}
	<div class="page-body-wrapper">
		{{#if roll}}
		{{>sidebar}}
		{{/if}}
		<section id="home" class="home">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="main-banner">
							<div class="d-sm-flex justify-content-between">
								<div data-aos="zoom-in-up">
									<div class="banner-title">
										<b>
											<h3 class="font-weight-medium" style="font-weight: 800; font-size: 3rem">
												A B2B system <br/>
												designed for the <br/>
												process of auditing documents
												
											</h3>
										</b>
									</div>
									<p class="mt-3">
										Fully decentralized,
										<br>
										easy to use and reliable
									</p>
									<a href="#services" class="btn btn-secondary mt-3">See More</a>
								</div>
								<div class="mt-5 mt-lg-0 block1">
									<img src="images/banner-blocks.png" class="img-fluid" data-aos="zoom-in-up">
								</div>
								<div class="mt-5 mt-lg-0 block2">
									<img src="images/banner-blocks.png" class="img-fluid" data-aos="zoom-in-up">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="our-services" id="services">
			<div class="container p-5">
				<div class="row">
					<div class="col-sm-12">
						<h4 class="font-weight-bold text-dark text-center mb-5 mr-5">Features</h4>
					</div>
				</div>
				<div class="row d-flex justify-content-center" data-aos="fade-up">
					<div class="col-sm-4 text-center">
						<div class="services-box" data-aos="fade-down" data-aos-easing="linear"
							data-aos-duration="1500">
							<button class="security-text" id="security-text">
								<img src="images/security-shield.svg" alt="integrated-marketing"
									data-aos="zoom-in">
								<h6 class="text-dark mb-3 mt-4 font-weight-medium text-center">
									Security and Control Access
								</h6>
							</button>
						</div>
					</div>
					<div class="col-sm-4 text-center">
						<div class="services-box" data-aos="fade-down" data-aos-easing="linear"
							data-aos-duration="1500">
							<button class="info-availability text-center" id="info-availability">
								<img src="images/worldwide.svg" alt="design-development" data-aos="zoom-in">
								<h6 class="text-dark mb-3 mt-4 font-weight-medium text-center">
									Information Availability
								</h6>
							</button>
						</div>
					</div>
					<div class="col-sm-4 text-center">
						<div class="services-box" data-aos="fade-down" data-aos-easing="linear"
							data-aos-duration="1500">
							<button class="traz-btn" id="traz-btn">
								<img src="images/network.svg" alt="digital-strategy" data-aos="zoom-in">
								<h6 class="text-dark mb-3 mt-4 font-weight-medium text-center">
									Traceability of information
								</h6>
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="our-process" id="about">
			<div class="container">
				<div class="row">
					<div class="col-sm-6" data-aos="fade-up">
						<h3 class="font-weight-medium text-dark">IITS: Information Integrity and Traceability System</h3>
						<h5 class="text-dark mb-3">Audity uses IITS</h5>
						<p class="font-weight-medium mb-4">Using Web3 technology we provide<br>
							an innovative tool for B2B audit processes
						</p>
						<div class="d-flex justify-content-start mb-3">
							<img src="images/tick.png" alt="tick" class="mr-3 tick-icon">
							<p class="mb-0">Security and Control Access</p>
						</div>
						<div class="d-flex justify-content-start mb-3">
							<img src="images/tick.png" alt="tick" class="mr-3 tick-icon">
							<p class="mb-0">Registration and availability of information</p>
						</div>
						<div class="d-flex justify-content-start">
							<img src="images/tick.png" alt="tick" class="mr-3 tick-icon">
							<p class="mb-0">Traceability of information</p>
						</div>
					</div>
					<div class="col-sm-6 text-right" data-aos="flip-left" data-aos-easing="ease-out-cubic"
						data-aos-duration="2000">
						<img src="images/idea.png" alt="idea" class="img-fluid">
					</div>
				</div>
			</div>
		</section>
		<section class="our-projects" id="projects">
			<div class="container">
				<div class="row mb-2 mt-5">
					<div class="col-sm-12">
						<div class="d-sm-flex justify-content-between align-items-center mb-2">
							<h3 class="font-weight-medium text-dark ">Our Metrics</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row pt-5 mt-5 pb-5 mb-5">
					<div class="col-sm-3">
						<div class="d-flex py-3 my-3 my-lg-0 justify-content-center" data-aos="fade-down">
							<img src="images/satisfied-client.svg" alt="satisfied-client" class="mr-3">
							<div>
								<h4 class="font-weight-bold text-dark mb-0"><span class="scVal">0</span>%</h4>
								<h5 class="text-dark mb-0">Satisfied <br />Clients</h5>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="d-flex py-3 my-3 my-lg-0 justify-content-center" data-aos="fade-up">
							<img src="images/finished-project.svg" alt="satisfied-client" class="mr-3">
							<div>
								<h4 class="font-weight-bold text-dark mb-0"><span class="fpVal">0</span></h4>
								<h5 class="text-dark mb-0">Ended Projects</h5>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="d-flex py-3 my-3 my-lg-0 justify-content-center" data-aos="fade-down">
							<img src="images/team-members.svg" alt="Team Members" class="mr-3">
							<div>
								<h4 class="font-weight-bold text-dark mb-0"><span class="tMVal">0</span></h4>
								<h5 class="text-dark mb-0">Team Members</h5>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="d-flex py-3 my-3 my-lg-0 justify-content-center" data-aos="fade-up">
							<img src="images/our-blog-posts.svg" alt="Our Blog Posts" class="mr-3">
							<div>
								<h4 class="font-weight-bold text-dark mb-0"><span class="bPVal">0</span></h4>
								<h5 class="text-dark mb-0">Blog post</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="contactus" id="contact">
			<div class="container">
				<h3 class="font-weight-medium text-dark mt-5 mt-lg-0 text-center">Contact Us</h3>
				<h5 class="text-dark mb-5 text-center">Please use the following contact methods 
					or fill in the form below.</h5>
				<div class="row mb-5 pb-5">
					<div class="col-sm-5">
						<address>
							<p>Carrera 13A 93-66, </p>
							<p class="mb-4">Bogotá, Colombia</p>
							<div class="d-flex align-items-center">
								<p class="mr-4 mb-0">+576017115115</p>
								<a href="mailto:info@yourmail.com" class="footer-link">Audity@audity.com</a>
							</div>
							<div class="d-flex align-items-center">
								<p class="mr-4 mb-0">018000 912 115 </p>
								<a href="mailto:Marshmallow@yourmail.com"
									class="footer-link">audity@audity.com</a>
							</div>
						</address>
						<div class="social-icons">
							<h6 class="footer-title font-weight-bold">
								Social networks
							</h6>
							<div class="d-flex">
								<a href="https://www.instagram.com/audity?hl=es" target="_blank"><i class="mdi mdi-instagram"></i></a>
								<a href="https://www.facebook.com/audity/" target="_blank"><i class="mdi mdi-facebook-box"></i></a>
								<a href="https://twitter.com/audity?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="mdi mdi-twitter"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-7" data-aos="fade-up" data-aos-offset="-500">
						<form id="form">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" class="form-control" id="name" name="name"
											placeholder="Full Name">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="email" class="form-control" id="email" name="email"
											placeholder="Email">
									</div>
								</div>
								<div class="col-sm-12 p-3">
									<div class="form-group">
										<textarea name="message" id="message" name="massage" class="form-control"
											placeholder="Message" rows="5"></textarea>
									</div>
								</div>
								<div class="col-sm-12 text-right">
									<button type="submit" class="btn btn-secondary" id="button" name="button"
										style="width: 30%;">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
	</div>
	{{>footer}}
	{{>scripts}}
	<script>
		$('#exampleModal').on('shown.bs.modal', function () {
			$('#exampleModal').trigger('focus')
		})
	</script>
	<script src="/javascripts/contactForm.js"></script>
	<script src="/javascripts/home.js"></script>
</body>

</html>