<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    <div class="body-content row">
        {{>navbar}}
        <div class="col-md-10 vertical-center1">
            <div class="row g-1 cover-spin" style="display:none; margin: auto 20em auto auto ;">
                <div class="cover-spin-message">Esperando Confirmación ...</div>
            </div>
            <div class="show">
                <div class="row">
                    <div class="col-md-4 g-1 pb-2" data-aos="fade-right" data-aos-offset="-100">
                        <div class="card p-2 text-center">
                            <div class="pb-2">
                                <span class="badge badge-pill badge-outline-primary"><i
                                        class="fa fa-paper-plane-o"></i></span>
                            </div>
                            <div class="">
                                <h6 class="font-weight-medium" style="font-weight: 800; font-size: 1.5rem">
                                    Regístrate
                                </h6>
                            </div>
                            <div class="">
                                <p class="pt-0 small">Con el siguiente formulario
                                    puede solicitar al administrador del sistema su registro
                                    con el perfil que corresponda.
                                </p>
                            </div>
                            <div class="pt-2">
                                <img class="img-fluid" src="images/register-requested.svg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 g-1" data-aos="fade-left" data-aos-offset="-100">
                        <div class="card p-5">
                            <br />
                            <form action="" method="post" class="has-success form-group">
                                <div class="row g-5 mt-4">
                                    <div class="col">
                                        <label class="form-label">Seleccione un rol</label>
                                        <div class="input-group input-group-sm form-outline">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    style="border-radius: 0.5rem 0 0 0.5rem;" data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="Se refiere al perfil que solicitará al administrador.">
                                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <select class="form-select form-control" name="roles" id="roles">
                                                <option value="sAdmin">Super Admin</option>
                                                <option value="admin">Admin </option>
                                                <option value="maker">Maker</option>
                                                <option value="reviewer">Reviewer</option>
                                                <option value="approver">Approver</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col pt-1">
                                        <label class="form-label" for="projectRequirementName">
                                            Dirección pública del usuario
                                        </label>
                                        <div class="input-group input-group-sm form-outline" style="width: 100%;">
                                            <input type="text" id="userAddr" class="form-control"
                                                placeholder="Dirección pública de usuario" readonly />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="Se refiere a la billetera o dirección pública del usuario que solicita el registro.">
                                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions form-group text-center pb-4" id="container">
                                    <br />
                                    <input type="button" class="btn btn-secondary mt-4"
                                        value="Send Registry Form" id="registerRequestButton">
                                    <br />
                                    <br />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/contractData.js"></script>
    <script type="module" src="/javascripts/registerRequest.js"></script>
    {{>scripts}}
</body>
<footer class="footer2 mt-auto py-0" style="">
    <div>
        <img src="images/wave1.svg" alt="">
    </div>
</footer>
</html>