<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    <div class="body-content row">
        {{#if (or (eq roll 'superAdmin') (eq roll 'admin')) }}
        {{>navbar}}
        {{>sidebar}}
        <div class="col-md-10 vertical-center1">
            <div class="row g-1 cover-spin" style="display:none; margin: auto 20em auto auto ;">
                <div class="cover-spin-message">Waiting Confirmation ...</div>
            </div>
            <div class="show">
                <div class="row">
                    <div class="col-md-4 g-1 pb-2" data-aos="fade-right" data-aos-offset="-100">
                        <div class="card p-2 text-center">
                            <div class="pb-2">
                                <span class="badge badge-pill badge-outline-primary"><i class="fa fa-sitemap"></i></span>
                            </div>
                            <div class="">
                                <h6 class="font-weight-medium" style="font-weight: 800; font-size: 1.5rem">
                                    Assign a user to a project
                                </h6>
                            </div>
                            <div class="">
                                <p class="pt-0 small">With the following form
                                    assign users to a specific requirement or activity of a project.
                                </p>
                            </div>
                            <div class="pt-2">
                                <img class="img-fluid" src="images/set-user.svg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 g-1" data-aos="fade-left" data-aos-offset="-100">
                        <div class="card p-5">
                            <div class="row">
                                <div class="col">
                                    <label class="form-label font-weight-medium">Project Name</label>
                                    <div class="input-group input-group-sm form-outline">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                style="border-radius: 0.5rem 0 0 0.5rem;" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Refers to the name by which the project to be assigned will be identified.">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <select class="form-select form-control" id="projects"></select>
                                    </div>
                                </div>
                                <div class="col">
                                    <label class="form-label font-weight-medium" for="projectID">Requirement Name</label>
                                    <div class="input-group input-group-sm form-outline">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                style="border-radius: 0.5rem 0 0 0.5rem;" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Refers to the name that identifies the requirement in the chosen project.">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <select class="form-select form-control" id="requirements"> </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row mt-3">
                                    <label class="form-label font-weight-medium">
                                       Public user address
                                    </label>
                                    <div class="input-group input-group-sm form-outline">
                                        <input type="text" id="userAddr" class="form-control"
                                        placeholder="Assign the user's public address" />
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="text" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Refers to the Wallet or public address of the user to whom you will assign a role.">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <label class="form-label font-weight-medium" for="projectID">Select role</label>
                                    <div class="input-group input-group-sm form-outline">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                style="border-radius: 0.5rem 0 0 0.5rem;" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Refers to the profile you will assign to the user.">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <select class="form-select form-control" name="roles" id="roles">
                                            <option value="maker">Maker</option>
                                            <option value="reviewer">Reviewer</option>
                                            <option value="approver">Approver</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions form-group text-center pb-2" id="container">
                                <input type="button" class="btn btn-secondary mt-4" value="Configure User"
                                    id="setUserButton">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/contractData.js"></script>
    <script type="module" src="/javascripts/showProjects.js"></script>
    <script type="module" src="/javascripts/showRequirements.js"></script>
    <script type="module" src="/javascripts/setUser.js"></script>
    {{>scripts}}
    {{else}}
    {{>restrictedAccess}}
    {{/if}}
</body>
<footer class="footer2 mt-auto py-0" style="">
    <div>
        <img src="images/wave1.svg" alt="">
    </div>
</footer>
</html>